body {
  margin: 0;
  padding: 0;
  background-color: #F7F8EE;
}
#header {
  width: 900px;
  background-color: transparent;
}
#header h1 {
  overflow: hidden;
  line-height: 36px;
  font-family: 'Crimson Pro', serif;
  font-size: 36px;
  letter-spacing: 6px;
  font-weight: lighter;
  color: #0a2c02;
  margin: 12px 0 12px 240px;
  padding: 72px 0 24px 36px;
}
#header h1::first-letter {
  font-size: 400%;
  font-weight: lighter;
}
#nav {
  overflow: hidden;
  background-color: #E6E6E6;
  height: 48px;
}
#nav a {
  display: block;
  font-family: Arial, Helvetica, 'Open Sans', sans-serif;
  font-size: 14px;
  color: #336666;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  margin: 10px 0px 0 20px;
  text-decoration: none;
}
#nav a:hover {
  color: #0a2c02;
  background-color: #F7F8EE;
  border-bottom: 1px solid #0a2c02;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav li {
  display: block;
  float: left;
}
#main {
  overflow: hidden;
  width: 900px;
  background-color: transparent;
}
#main h2 {
  margin: 42px 0 24px 60px;
  text-align: left;
  color: #0a2c02;
  line-height: 100%;
  font-family: 'Crimson Pro', serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
}
#main p {
  padding: 0 12px 0 36px;
  margin: 12px 12px 12px 360px;
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 180%;
  color: #0a2c02;
}
#main p.quote {
  margin: 0 10px 0 auto;
}
#sidebar {
  border-bottom: 1px solid white;
  background-color: #E6E6E6;
  height: 420px;
  width: 240px;
  float: left;
}
#sidebar p {
  font-family: 'Crimson Pro', serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  color: #333333;
  text-align: left;
  padding: 0 24px 0 24px;
  margin: 18px auto;
}
#footer {
  overflow: hidden;
  line-height: 36px;
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #0a2c02;
  margin: 12px 0 12px 240px;
  padding: 72px 0 24px 36px;
}
#footer a {
  color: #0a2c02;
  text-decoration: none;
}
#footer a:hover {
  color: #0a2c02;
  border-bottom: 1px solid #0a2c02;
}
img {
  position: absolute;
  left: 12px;
  top: 0px;
  z-index: -1;
}