body {
  margin: 60px;
  padding: 0;
  background-color: #F7F8EE;
}
#header {
  width: 960px;
  background-color: transparent;
}
#header h1 {
  overflow: hidden;
  line-height: 36px;
  font-family: 'Crimson Pro', serif;
  font-size: 36px;
  letter-spacing: 6px;
  font-weight: 300;
  color: #0a2c02;
  margin: 12px 0 12px 240px;
  padding: 24px 0 24px 36px;
}
#header h1::first-letter {
  font-size: 400%;
  font-weight: 300;
}
#nav {
  overflow: hidden;
  background-color: #E6E6E6;
  height: 48px;
}
#nav a {
  display: block;
  font-family: Arial, Helvetica, 'Open Sans', sans-serif;
  font-size: 14px;
  color: #336666;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  margin: 10px 0px 0 20px;
  text-decoration: none;
}
#nav a:hover {
  color: #0a2c02;
  background-color: #F7F8EE;
  border-bottom: 1px solid #0a2c02;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav li {
  display: block;
  float: left;
}
#main {
  overflow: hidden;
  width: 900px;
  background-color: transparent;
}
#main h2 {
  margin: 42px 0 24px 60px;
  text-align: left;
  color: #0a2c02;
  line-height: 100%;
  font-family: 'Crimson Pro', serif;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
}
#main p {
  padding: 0 12px 0 36px;
  margin: 12px 12px 12px 360px;
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 180%;
  color: #0a2c02;
}
#main p.tc {
  font-family: 'Noto Serif TC', 'Crimson Pro', serif;
  letter-spacing: 2px;
}
#main p.quote {
  margin: 0 10px 0 auto;
}
#sidebar {
  border-bottom: 1px solid white;
  background-color: #E6E6E6;
  height: 420px;
  width: 240px;
  float: left;
}
#sidebar p {
  font-family: 'Crimson Pro', serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 24px;
  color: #333333;
  text-align: left;
  padding: 0 24px 0 24px;
  margin: 18px auto;
}
#footer {
  width: 900px;
  margin-top: 12px;
  padding-top: 36px;
}
#footer p {
  overflow: hidden;
  line-height: 24px;
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  font-weight: 300;
  color: #0a2c02;
  margin: 0 12px 12px 420px;
  padding: 0 12px 12px 36px;
  float: right;
}
#footer a {
  color: #0a2c02;
  /* Distance from text */
  padding-bottom: 2px;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow .33s ease-out;
  letter-spacing: 2px;
}
#footer a:hover {
  box-shadow: 0 1px 0 0 #0a2c02;
}
#footer p.link a {
  height: 24px;
  position: relative;
  line-height: 1;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  color: #0a2c02;
}
.link a::after {
  display: block;
  width: 0;
  height: 1px;
  background-color: #0a2c02;
  content: '';
}
.link a:hover::after {
  width: 100%;
  height: 1px;
  transition: width .5s ease;
}
img {
  position: absolute;
  left: 60px;
  top: 0px;
  z-index: -1;
}
