body {
  margin: 0;
  padding: 0;
  background-color: #f7f8ee;
}
a {
  color: #0a2c02;
  /* Distance from text */
  padding-bottom: 2px;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow .33s ease-out;
  letter-spacing: 0;
}
a:hover {
  box-shadow: 0 1px 0 0 #0a2c02;
}
#navmenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: #cddbd4;
}
#bodhileaf {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  z-index: -1;
}
#main {
  width: 100%;
  max-width: 840px;
  margin: 12px 24px 0 0;
  padding-top: 12px;
}
#main h1 {
  overflow: hidden;
  line-height:72px;
  font-family: 'Crimson Pro', serif;
  font-size: 36px;
  letter-spacing: 6px;
  font-weight: 300;
  color: #0a2c02;
  margin: 24px 0 12px 24px;
  padding: 24px 0 24px 36px;
}
#main h1::first-letter {
  font-size: 400%;
  font-weight: 300;
}
#main h2 {
  margin: 42px 0 24px 60px;
  text-align: left;
  color: #0a2c02;
  line-height: 100%;
  font-family: 'Crimson Pro', serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
}
#main p {
  padding: 0 12px 0 36px;
  margin: 12px 12px 12px 24px;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 180%;
  color: #0a2c02;
}
#main .tc {
  font-family: 'Noto Serif TC', 'Crimson Pro', serif;
  letter-spacing: 2px;
}
#main p.quote {
  margin: 0 10px 0 auto;
}
#main .container {
  float: right;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
#main .container a {
  margin-left: 36px;
  letter-spacing: 1px;
}
#articlemenucontent {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 280px;
  height: 100%;
  overflow-x: hidden;
  background-color: #cddbd4;
  padding: 48px 12px 36px 12px;
  float: left;
  z-index: 2;
}
#articlemenucontent.show {
  animation: .4s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
#articlemenucontent.hide {
  transform: translate(-100%);
  transition-property: transform;
  transition-duration: .4s;
}
#articlemenucontent p {
  overflow: hidden;
  line-height: 28px;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #0a2c02;
  margin: 12px 8px 12px 18px;
  padding: 0 12px 0 12px;
}
#articlemenucontent p.home {
  cursor: default;
  font-weight: 600;
  padding: 36px 12px 0 12px;
}
#articlemenucontent p.currentarticle {
  cursor: default;
  font-weight: 600;
}
#articlemenucontent p.article {
  cursor: pointer;
}
#articlemenucontent .articlemenuclose:hover,
.articlemenuclose:focus {
  color: #0a2c02;
  text-decoration: none;
  cursor: pointer;
}
#articlemenubtn {
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.nav {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: .4s;
  animation-name: fadeIn;
  animation-duration: .4s;
}
#backgroundimage {
  position: absolute;
  left: 60px;
  top: 56px;
  width: calc(100% - 60px);
  max-width: 471px;
  min-width: 300px;
  z-index: -1;
}
.triplebar {
  display: inline-block;
  margin: 19px 0 0 15px;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 18px;
  height: 2px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 5px) rotate(135deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -5px) rotate(225deg);
}