body {
  margin: 0;
  padding: 0;
  background-color: #F7F8EE;
}
#hwrap {
  margin: 0 auto;
  background-color: #F7F8EE;
}
#hwrap2 {
  margin: 0 auto;
  height: 80px;
  width: 750px;
  background-color: #F7F8EE;
}
#nwrap {
  margin: 0 auto;
  background-color: #E6E6E6;
}
#nwrap2 {
  margin: 0 auto;
  width: 750px;
  background-color: #E6E6E6;
}
#mwrap {
  margin: 0 auto;
  background-color: #FFFFFF;
}
#mwrap2 {
  margin: 0 auto;
  width: 750px;
  background-color: #FFFFFF;
}
#fwrap {
  margin: 0 auto;
  background-color: #F7F8EE;
  clear: both;
}
#fwrap2 {
  margin: 0 auto;
  height: 40px;
  width: 750px;
  background-color: #F7F8EE;
}
#header {
  background-color: #F7F8EE;
}
#header h1 {
  overflow: hidden;
  line-height: 36px;
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
  font-size: 28px;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-weight: normal;
  color: #0a2c02;
  margin: 0 auto;
  padding: 30px 0 10px 20px;
}
#header h2 {
  overflow: hidden;
  line-height: 36px;
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: lighter;
  color: #0a2c02;
  margin: 0 auto;
  padding: 30px 0 10px 16px;
}
#header p {
  overflow: hidden;
  line-height: 28px;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  font-weight: bold;
  color: #0a2c02;
  margin: 0 auto;
  padding: 30px 0 10px 20px;
}
#nav {
  overflow: hidden;
  background-color: #E6E6E6;
  height: 48px;
}
#nav a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #0a2c02;
  /* Distance from text */
  padding-bottom: 2px;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow .5s ease-out;
  line-height: 48px;
  letter-spacing: 2px;
  text-align: left;
  margin-left: 20px;
}
#nav a:hover {
  color: #0a2c02;
  box-shadow: 0 1px 0 0 #0a2c02;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav li {
  display: block;
  float: left;
}
#main {
  background-color: #fefefe;
  overflow: hidden;
}
#main h1 {
  padding: 24px 24px 12px 24px;
  font-family: 'Noto Serif', serif;
  font-size: 22px;
  color: #0a2c02;
  font-weight: normal;
  font-stretch: normal;
  font-variant: normal;
  letter-spacing: 2px;
  font-style: normal;
  line-height: 200%;
 }
#main h2 {
  padding: 12px 24px 8px 24px;
  font-family: 'Noto Serif', serif;
  font-variant: normal;
  font-size: 20px;
  letter-spacing: normal;
  color: #0a2c02;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  font-stretch: normal;
}
#main h3 {
  padding: 24px 24px 0 24px;
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  font-size-adjust: none;
  font-stretch: normal;
  color: #0a2c02;
}
#main h4 {
  padding: 24px 24px 0 24px;
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  font-size-adjust: none;
  font-stretch: normal;
  color: #0a2c02;
}
#main p, div {
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 16px;
  color: #0a2c02;
  line-height: 28px;
}
#main li {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #0a2c02;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 0 24px 0 0;
  list-style: none;
}
#main ul.revision li {
  font-family: 'Noto Serif', Georgia, serif;
  letter-spacing: 0px;
  list-style-type: '–  ';
  margin-left: 24px;
  }
#main a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #0862a7;
  /* Distance from text */
  padding-bottom: 2px;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow .5s ease-out;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 0px;
}
#main a:hover {
  color: #0862a7;
  box-shadow: 0 1px 0 0 #0862a7;
}
#main a.license {
  font-family: 'Noto Serif', Georgia, serif;
  line-height: 28px;
  letter-spacing: 0px;
}
.flexbox {
  position: relative;
  float: right;
  margin: 12px 0 12px 0;
  display: flex;
  width: 300px;
  border: 0px solid lightsalmon;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.item1 {
  width: 60%;
  padding: 6px 6px;
}
.item1:hover + .item2 {
  display: block;
}
.item2 {
  width: 60%;
  margin: 6px 0;
  padding: 6px 6px;
  border-top: 2px solid #c7cea2;
  border-bottom: 2px solid #c7cea2;
  font-size: smaller;
  display: none;
}
#sidebar {
  background-color: #ffffff;
  width: 0px;
}
#sidebar a {
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: #3F7070;
  font-weight: 100;
  padding-bottom: 2px;
}
#sidebar a:hover {
  color: #CC3300;
  text-decoration: none;
  border-bottom: 1px solid #CC3300;
}
#sidebar p {
  margin-top: 12px;
  text-align: center;
}
#footer {
  background-color: #F7F8EE;
}
#footer a {
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #3F7070;
  text-decoration: none;
  padding-bottom: 4px;
}
#footer a:hover {
  color: #CC3300;
  text-decoration: none;
  border-bottom: 1px solid #CC3300;
}
#footer p {
  text-align: center;
  padding: 0 0 0 0;
  margin: 0;
}
.dropcap {
  float: left;
  font: normal 40pt/0.8em 'Noto Serif', Georgia, serif;
  color: #999999;
  margin-right: 3px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 12px;
  right: 12px;
  background-color: #fefefe;
  width: 350px;
  height: 136px;
  border: 2px solid #f7f8ee;
  border-radius: 6px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 1s;
  animation-name: slideIn;
  animation-duration: 1s;
}

/* Modal Button */
button:focus {
  outline: none;
}
.modalbtn {
  font-family: 'Noto Sans', 'DejaVu Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  vertical-align: baseline;
  width: 28px;
  height: 28px;
  color: #c7caae;
	background: transparent;
	border: 0px solid #969696;
  border-radius: 3px;
	cursor: pointer;
}
.modalbtn:hover {
  color: #8c8f77;
  background: transparent;
}
/* Content Button */
.contentbtn {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  border-radius: 3px;
	border: 1px solid #969696;
  width: 136px;
  height: 28px;
  cursor: default;
}
.contentbtn:hover {
  background-color: lightgray;
}

/* The Close Button */
.close {
  color: #0a2c02;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

.close:hover,
.close:focus {
  color: #0a2c02;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  height: 25px;
  padding: 2px 16px;
  background-color: #f7f8ee;
}

.modal-body {
  padding: 2px 16px;
  margin-bottom: 12px;
  line-height: 24px;
  font-size: 14px;
}
.modal-body a {
  font-size: 14px;
  letter-spacing: 1px;
  color: #0862a7;
  /* Distance from text */
  padding-bottom: 2px;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow .33s ease-out;
}
.modal-body a:hover {
  box-shadow: 0 1px 0 0 #0862a7;
}

.modal-footer {
  height: 25px;
  padding: 2px 16px;
  background-color: #f7f8ee;
  font-size: 14px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 12px; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 12px; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
