body {
  margin: 0;
  padding: 0;
  background-color: #F7F8EE;
}
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #e6ebd0;
  z-index: 98;
}
#header .sitetitle {
  overflow: hidden;
  line-height: 24px;
  font-family: 'Crimson Pro', Georgia, serif;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 300;
  color: #0a2c02;
  margin: 0 12px 24px 48px;
  padding: 18px 24px 12px 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#header .sitetitle::first-letter {
  font-size: 200%;
  font-weight: 300;
}
#bodhi-leaf {
  position: absolute;
  top: 0;
  left: 0px;
  height: 120px;
  z-index: 99;
}
#zen-stone-on-the-sand {
  position: relative;
  display: block;
  margin: 36px auto;
  z-index: -1;
  width: 500px;
}
#yinyang-baqua {
  position: relative;
  display: block;
  margin: 36px auto;
  z-index: -1;
  width: 300px;
}
#qing-ming-shang-he-tu {
  position: relative;
  display: block;
  margin: 36px auto;
  z-index: -1;
  width: 700px;
}
#main {
  overflow: hidden;
  width: 760px;
  background-color: transparent;
  left: 24px;
}
#main h1 {
  margin: 72px auto;
  padding: 12px;
  text-align: center;
  color: #0a2c02;
  line-height: 100%;
  font-family: 'Crimson Pro', serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2px;
}
#main h1::first-letter {
  font-size: 200%;
  font-weight: 300;
}
#main h2 {
  margin: 24px 48px 12px 48px;
  padding: 12px;
  text-align: left;
  color: #0a2c02;
  line-height: 100%;
  font-family: 'Crimson Pro', serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
}
#main h3 {
  margin: 12px 48px 12px 48px;
  padding: 12px;
  text-align: left;
  color: #0a2c02;
  line-height: 100%;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  font-weight: 300;
}
#main p {
  margin: 12px 48px 24px 48px;
  padding: 0 12px 0 12px;
  font-family: 'Crimson Pro', Georgia, serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 140%;
  color: #0a2c02;
}
#main p.first {
  margin-top: 60px;
}
#main p.first::first-letter {
  font-size: 200%;
  font-weight: lighter;
}
#main p.quote {
  margin: 0 10px 0 auto;
}
a {
  color: #0a2c02;
  /* Distance from text */
  padding-bottom: 2px;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow .33s ease-out;
}
a:hover {
   box-shadow: 0 1px 0 0 #0a2c02;
}
.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 240px;
  right: calc(24px + (100% - 1084px));
  width: 300px;
  float: right;
  background-color: transparent;
}
.menucontent p {
  overflow: hidden;
  line-height: 28px;
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #0a2c02;
  margin: 0 12px 12px 12px;
  padding: 0 12px 0 12px;
}
.menucontent p.currentarticle {
cursor: pointer;
}
.menucontent p.currentarticle::before {
  content: "*   *   *";
  display: block;
  padding: 36px 0 36px 0;
  text-align: center;
}
.menucontent p.sectionlink {
  margin: 0 0 8px 30px;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0;
  text-align: left;
  cursor: pointer;
}
.menucontent p.tc {
  font-family: 'Noto Serif TC', 'Crimson Pro', serif;
  letter-spacing: 2px;
  font-size: 16px;
}
.menucontent .close {
  display: none;
}
#navmenubtn {
  display: none;
}
hr {
  width: 35%;
  margin: 24px 72px 0 60px;
}
#main .footnote {
  cursor: pointer;
}
#main .footnotes {
  width: 700px;
  margin: 0 0 36px 0;
  padding: 12 0 12px 0;
}
#main .footnotes ol li {
  margin-left: 60px;
}
#main .footnotes p {
  padding: 0 12px 0 12px;
  margin: 12px 12px 12px 0;
  font-family: 'Crimson Pro', Georgia, serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 140%;
  color: #0a2c02;
}
.sc {
  font-family: 'Noto Serif SC', 'Crimson Pro', serif;
  font-size: 16px;
}
.tc {
  font-family: 'Noto Serif TC', 'Crimson Pro', serif;
  font-size: 16px;
}
.yy {
  font-family: 'Symbola', 'Noto Sans', sans-serif;
}
#footer {
  margin-bottom: 120px;
}